<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>904685959453-rvtvccr3gfev9lcjnpt9ec2adlps4glh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904685959453-rvtvccr3gfev9lcjnpt9ec2adlps4glh</string>
	<key>API_KEY</key>
	<string>AIzaSyCqLC_hA2Vy5N1DvENLtLRTewnIkxxw9KI</string>
	<key>GCM_SENDER_ID</key>
	<string>904685959453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svvatech.heartstoneLib</string>
	<key>PROJECT_ID</key>
	<string>heartstone-ci</string>
	<key>STORAGE_BUCKET</key>
	<string>heartstone-ci.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904685959453:ios:20ce0f7d825ce2ff</string>
	<key>DATABASE_URL</key>
	<string>https://heartstone-ci.firebaseio.com</string>
</dict>
</plist>